*{
    margin: 0px;
    padding: 0px;
}

section , header, footer{
    padding-right:  200px;
    padding-left: 200px;
}
section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.hero-section{
    display: flex;
    justify-content: center;
    gap: 45px;
    background-color: #1f2937;
    color: #f9faf8;
    h1{
        font-size: 50px;
    }
    span.button{
        display: inline-block;
        padding: 10px 30px;
        border-radius: 10px;
        background-color: #3882f6;
    }
    *{
        margin: 10px 0px;
    }
    p{
        color: #e5e7eb;
        margin: 0;
    }
    .hero-text-container{
        width: 30vw;

    }
    .img{
        background-color: #818386;
        width: 40%;
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.images{
    width: 130px;
    height: 130px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}
.info-section{
    .image-with-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    p{
        text-align: center;
        width: 130px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    .group{
        display: flex;
        gap: 40px;
        
    }
    h1{
        font-size: 35px;
        margin: 0px 0px 40px 0px;
    }
}

.quata-section{
    background-color: #e5e7eb;
    .normal-text{
        font-weight: normal;
    }
    .writer{
        text-align: end;
    }
}
.call-to-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    border-radius: 10px;
    color:#f9faf8;
    background-color: #3882f6;

    .button{
        border: 2px solid #f9faf8;
        padding: 5px 22.5px ;
        border-radius: 7px;

    }
}

footer{
    text-align: center;
    font-size: 17.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1f2937;
    color: #e5e7eb;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-top: 20px;
    padding-bottom: 20px;
    
    h4{
        font-size: 24px;
      
        
    }
    .links{
        display: flex;
        justify-content: end;
        gap: 15px;
        a{
        font-size:18;
        color: #e5e7eb;
        text-decoration: none;
    }
}
}